{erl_opts, [debug_info]}.

{ct_opts, [{sys_config, ["./test/config/sys.config"]}]}.

{deps, [{cowboy, "2.12.0"},
        {ranch, "2.1.0"},
	      {jiffy, "1.1.1"}]}.

{minimum_otp_vsn, "23.0"}.

{relx, [{release, {samurai_kv, "0.1.0"},
         [samurai_kv,
          samurai_kv_http_api,
          sasl]},

        {sys_config_src, "./config/sys.config.src"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]},
                    {overlay, [{output_dir , "../samurai_kv_release"}]}
                    ]
            },
            {test, [{deps, [{gun, "2.0.0-rc.2"}]}
                   ]}
          ]
}.
